.text-over-img {
    z-index:1;
    font-size: 1.2em
    margin-top: -100px;
}
nav .navbar-nav {
    color: white !important;
}

.hover-fade a {
    display: block;
    position: relative;
    overflow: hidden;
    background-color: #333;
}

.hover-fade img {
    width: 100%;
    height: auto;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.hover-fade:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0.5)";
    filter: alpha(opacity=0.5);
    opacity: 0.5;
}
.padding-0{
    padding-right:0;
    padding-left:0;
}
.top-buffer { margin-top:20px; }
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.carousel-inner > .carousel-item > img {
    height: 100vh;
}

.center {
    text-align: center;
    border: 3px solid green;
}

.filterbox {
    display: inline-block;
}
.card {
    display: inline-flex;
}